{% extends 'base.html' %} {% block content %}

<h1 align="center">
  {% block title %} MTG Rule Cards & Dungeons {% endblock %}
</h1>

<div id="1">
  <a href="/lostmine">
    <img src="/static/lost_mine.png" width="500" height="600" />
  </a>
  <a href="/madmage">
    <img src="/static/mad_mage.png" width="500" height="600" />
  </a>
</div>

<div id="2">
  <a href="/tomb">
    <img src="/static/tomb_of_annihilation.png" width="500" height="600"
  /></a>

  <a href="/undercity">
    <img src="/static/undercity.png" width="500" height="600"
  /></a>
</div>

<div id="3">
  <a href="/monarch">
    <img src="/static/monarch.png" width="500" height="600"
  /></a>

  <a href="/initiative">
    <img src="/static/initiative.png" width="500" height="600"
  /></a>
</div>

<div id="4">
  <a href="/blood"> <img src="/static/blood.png" width="500" height="600" /></a>
</div>

{% endblock %}
